body{
	background-color:#332b1a63;
	margin:0px;
	}
h1{
margin-bottom: 0px;
margin-top: 0px;
padding-top: 75px;
padding-bottom: 75px;
font-size: 60px;
   text-align:center;
   background-color:#44456afc;
   box-sizing:border-box;
   background-image: url('p.jpg');
   color:wheat;
   clear:both;
}
div{
border-right-width: 2px;
border-right-style: solid;
border-left-width: 2px;
border-left-style: solid;
box-sizing:border-box;
}
form{
	border-style:solid;
	border:3px;
	margin-bottom:35px;
	padding-bottom:35px;
	padding-right:0px;
	padding-top:29px;
	font-size: 30px;
        text-align:center;
        text-size-adjust:200%;
       
	}
a{
text-decoration:none;}
h2{
 
}
section{
margin-left:65px;
float:left;
 width:65%;

}
aside{
border-top:3px solid;
border-bottom:3px solid;
padding:2px;
border-color:#82818469;
margin-right:65px;
float:right;
clear:right;
}

.sbox{
width:300px;
height:20px;
border-radius:300px;
border:2px #000 solid;
}

